html {
	scroll-behavior: smooth;
}

.body {
    margin: 0;
    padding: 0;
    font-family: Avenir, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.site-header {
    width: 100%;
    margin-top: 20px;
}

.header-image {
    height: 240px; 
    background-size: cover;
    background-position: center;
    margin-bottom: 80px; 
}

.site-navigation {
    background-color: #FFFFFF; 
    width: 100%;
    display: flex;
    justify-content: center;
}

/*.content ul li:before {*/
/*    display: none;*/
/*}*/

.margin-bottom-24 {
    margin-bottom: 24px !important;
}

ul.navigation-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: fit-content; 
    height: 25px; 
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
}

ul.content-list li::before, ul.navigation-list li::before, ul.content-text li::before, .button-container a::before,
a.link-orange-thin::before, a.link-orange::before{
    display: none;
}

ul.content-list li, ul.content-text li {
    overflow: visible;
    list-style: inherit;
    text-indent: 0;
    padding: 0;
}

.navigation-list li {
    margin: 0; 
}

.navigation-list a {
    text-decoration: none;
    color: #000000; 
    font-weight: bold;
    font-size: 18px; 
    line-height: 25px; 
    background-color: transparent; 
    transition: color 0.1s; 
}

.navigation-list a:hover,
.navigation-list a:focus {
    color: #F04E2A !important; 
    text-decoration: none;
}

a.selected-page {
    color: #F04E2A !important;
}

.content-block {
    color: #55565A; 
    width: 960px; 
    /* padding: 0 40px; */
    margin: 0 auto;
    /* margin: 0 auto 80px; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* gap: 24px;  */
    justify-content: center;
}

.content-block h1 {
    color: #F04E2A;
    width: 100%;
    text-align: center;
    font-family: Arial Narrow, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    margin: 0;
}

.content-block .advantages-section h2 {
    margin: 0;
    width: 100%;
    color: #F04E2A;
    text-align: center;
    font-family: Arial Narrow, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* text-transform: uppercase; */
}

.content-block h3 {
    color: #55565A;
    font-family: Avenir, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0;
}

.content-block p {
    color: #55565A;
    font-family: Avenir, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
}

.content-block ul {
    list-style-type: disc; 
    padding-left: 20px; 
    margin: 0;
}

.content-block .content-text {
    color: #55565A;
    font-family: Avenir, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.content-block .content-text .content-img {
    margin: 0 10px 0 10px;
}

.content-block .image-container {
    display: flex;
    justify-content: center;
}

.content-block a, .content-block a:hover {
    color: #55565A;
    text-decoration-line: underline;
}

.content-block li {
    margin-bottom: 8px; 
    font-family: Avenir, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ... предыдущий код ... */

.advantages-section {
    width: 960px;
    margin: 20px auto; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 0px;
}

h2.section-title {
    text-align: center; 
    width: 100%; 
    /*margin-bottom: 24px;*/
    color: #F04E2A;
    font-family: Arial Narrow, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.advantages-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0; 
}

.advantage-item {
    flex: 1;
    text-align: center; 
    color: #55565A;
    font-family: Avenir, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 468px;
}

.advantage-item p {
 padding: 0 8px 0 8px;
 font-size: 18px;
 line-height: normal;
}

.advantage-item img {
    width: auto; 
    height: 120px; 
    margin-bottom: 24px;
}

.advantage-item img.advantage-icon{
    width: 140px;
    height: 140px;
}

.haven-container {
    display: flex;
    height: fit-content;
    justify-content: space-between;
}

div.haven-item {
    width: 283px;
    text-align: center;
}

div.haven-item p {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 300;
}

.content-group {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

.content-group h4 {
    font-weight: 900;
    color: #E9502E;
    margin: 0;
    font-size: 18px;
}

.content-list {
    font-size: 18px;
}

.link-grey {
    color: #55565A;
    font-family: Avenir, Arial, Helvetica, sans-serif;
}

a.link-orange {
    color: #E9502E;
    font-weight: 900;
    /* font-family: Avenir, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

a.link-orange-thin {
    color: #E9502E;
    font-family: Avenir, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.h-divider {
    width: 960px;
    height: 1px; 
    background-color: rgba(85, 86, 90, 0.25); 
    margin: 0 auto;
}

.mechanism-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 960px;
    margin: 0 auto;
    gap: 120px;
}

.mechanism-block {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    width: calc((100% - 50px) / 2);
    padding: 20px;
    position: relative;
}

span.mechanism-note {
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.border-svg {
    position: absolute;
    width: 39px;
    height: 100%;
    top: 0;
}

.left-border {
    left: -39px;
}

.right-border {
    right: -39px; 
}

.mechanism-title  {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.mechanism-title.left  {
    color: #000;
}

.mechanism-title.right  {
    color: #E9502E;
}

.mechanism-note  {
    color: #E9502E;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
}

.mechanism-icons {
    margin-top: 20px;
}

.mechanism-block p {
    color: #000;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.guide-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 960px;
    margin: 0 auto 0;
    /* padding: 40px;  */
    background-color: #FFFFFF;
}

.guide-title {
    color: #E9502E;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: 700; 
    margin-bottom: 24px;
}

.guide-text {
    color: #000;
    font-family: Avenir, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.button-container {
    text-align: center; 
    width: 100%; 
}

.standard-button {
    color: #F04E2A;
    background-color: #FFFFFF; 
    border: 1px solid #F04E2A; 
    padding: 16px 59px;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 13px; 
    cursor: pointer; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.6px;
    text-transform: uppercase;
    transition: all .1s ease-in;
    /* transition: color .5s ease; */
}

.standard-button:hover {
    background-color: #E9502E;
    color: white;
}

.standard-button.red:hover {
    background-color: #D14627;
}

/*.guide-button:hover {*/
/*    background-color: #E9502E; */
/*}*/

/* */

.hemonitor-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%; 
    max-width: 960px; 
    margin: 0px auto; 
    padding: 0;
}

.phone-image-wrapper {
    /* flex: 1;  */
    display: flex;
    justify-content: center;
}

.text-and-button-wrapper {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 0 0 24px 0;  */
}

.hemonitor-title {
    color: #F04E2A;
    text-align: center;
    font-family: Arial Narrow, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.hemonitor-text {
    color: #55565A;
    font-family: Avenir, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-bottom: 24px; 
}

.hemonitor-button {
    color: #FFFFFF;
    background-color: #F04E2A;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*.hemonitor-button:hover {*/
/*    background-color: #E9502E; !* Цвет кнопки при наведении *!*/
/*}*/

/* */

.contact-section {
    display: flex;
    justify-content: center;
    padding: 0 0;
    background: #FFF;
}

.content-wrapper {
    width: 960px;
    text-align: center;
}

.text-center {
    margin-bottom: 20px; 
}

.contact-details {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.contact-icon {
    width: 50px; 
    height: 50px;
    margin-right: 20px; 
}

a.email-text {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    color: #E9502E;
    font-size: 16px;
}

.content-wrapper h2 {
    color: #F04E2A;
    font-family: Arial Narrow, sans-serif;
    font-size: 24px;
    margin: 0 0 10px 0;
}

.content-wrapper p {
    color: #55565A;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 18px;
    margin: 0;
}

.main-container {
    overflow: hidden;
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0 auto 0; 
    /* padding: 40px;  */
    gap: 24px; 
    background-color: #FFFFFF; 
}

.footer .title {
    color: #55565A;
    font-family: Avenir, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 15px;
}

.footer .content-text {
    color: #55565A;
    font-family: Avenir, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer .h-divider {
    height: 2px; 
    background-color: #0B41CD;
    stroke-width: 3px;
    stroke: #0B41CD;
    margin: 0;
}

.footer-contact {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    padding: 20px; 
    width: 960px;
    font-family: Avenir, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-contact .contact {
    flex-grow: 1; 
    padding: 10px; 
}

.footer-contact .logo {
    flex-basis: 154px;
    flex-shrink: 0;
    padding: 10px;
}

.content-block .red, .button-container .red {
    border: 1px solid #E9502E;
    background: #E9502E;
    color: #FFFFFF;
}

.content-block p.black {
    color: black;
    text-transform: uppercase;
    font-weight: 900;
}

h4.grey-subheader {
    color: #55565A;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 15px;
    text-transform: uppercase;
    margin: 0;
}

h4.black-subheader {
    color: #000;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 15px;
    text-transform: uppercase;
    margin: 0;
}

.downloadable-content p {
    margin-bottom: 15px;
}

.downloadable-content {
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.downloadable-content-wrapper {
    display: flex;
}

.link-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
    flex: 1;
}

.link-wrapper a {
    color: #F04E2A;
    font-weight: 900;
    font-family: Avenir, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 sup, h2 sup {
    font-size:medium;
    margin-left: 5px;
}

h2 sup {
    font-weight: 400;
}

h4 sup {
    font-size: small;
    margin-left: 3px;
    font-weight: 400;
}

p sup, li sup {
    font-size: x-small;
}

.text-button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.gap36 {
    gap: 36px;
}

.gap32 {
    gap: 32px;
}

.gap24 {
    gap: 24px;
}

.gap16 {
    gap: 16px;
}

.gap12 {
    gap: 12px
}

img.advantage-icon.bottle {
    height: 170px;
    width: auto;
}

div.border-orange {
    border: 1px solid #E9502E;
    border-radius: 8px;
    padding: 24px;
}

div.border-orange img {
    max-width: 908px;
}

div.expandable-button {
    width: 960px;
    min-height: fit-content;
    display: flex;
    border: 1px solid #E9502E;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

div.expandable-button-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 920px;
    padding: 20px;
}

div#white {
    width: 960px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    border: none;
}

div.expandable-button-white-header {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 960px;
    gap: 24px;
}

.expandable-button-wrapper {
    margin-bottom: 36px;
}

div.expandable-button-header, div.expandable-button-wrapper:hover {
    cursor: pointer;
}

div.expandable-button-header img {
    width: 21.15px;
    height: 12.7px;
}

h4.black-header {
    margin: 0;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
}

.expandable {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.expanded {
    /* margin-bottom: 20px; */
    transition: all 0.3s ease;
    padding-bottom: 20px;
}

.expandable-button-header .arrow, .expandable-button-white-header .arrow {
    transition: transform 0.3s ease;
}

.expanded .expandable-button-header .arrow {
    transform: rotate(180deg);
}

p#fviii-studies {
    margin-bottom: 40px;
}

section#scroll-bottles {
    text-align: center;
}

div.hemlibra-subtext-wrapper {
    max-width: 525px;
    text-align: center;
}

div.video-grid {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

div.video-wrapper {
    width: fit-content;
}

div.video-grid div.video-wrapper img {
    max-width: 222px; 
    height: auto;
}

p.text-small {
    font-size: 14px;
}

.flex-row {
    flex-direction: row;
}

div.content-block div.content-half {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-block a, .content-block a:visited, .content-block h2 a, .content-block h2 a:visited {
    color: #F04E2A;
}

div.link-wrapper a:hover, div.content-block a:hover {
    color: #55565A;
}

div#content.content div.site-header div.site-navigation ul.navigation-list li a, div#content.content div.site-header div.site-navigation ul.navigation-list li a:visited {
    color: #000;
}

.centered-text p {
    text-align: center;
}

.centered-items {
    align-items: center;
}

span.p-important{
    text-transform: uppercase;
    color: #F04E2A;
    font-weight: 900;
}

div.main-container.footer ol li a {
    color: #55565A;
}

div.main-container.footer ol li a::before, 
div.content-block a::before,
div.site-navigation ul.navigation-list li a::before{
    display: none;
}

div.haven-container a {
    text-decoration: none;
}

div.haven-container a:hover {
    text-decoration: underline;
}
